.helpHeader{

    color: white;

    align-self: center;
}

.helpPage{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    animation-name: fadeIn;
    animation-duration: 2s;
    color:white;}

.helpBox {
    background-color: rgb(58, 204, 172);
    padding: 2rem;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 3rem;

    

}

.helpBox h2 {
    align-self: center;
}